node_modules
dist
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
tsconfig.test.tsbuildinfo
.DS_Store
target/
client/node_modules/**
client/out/**
server/node_modules/**
server/out/**
coverage/**
*.profraw
cobertura.xml
docs/
